

<!-- Products tab & slick -->
<div class="container">
  <div class="row"  >
    <div class="col-md-2 col-sm-3" *ngFor="let product of products |filter:productService.term:productService.selectedCategory| paginate: config"  >
      <!-- tab -->
      <div  id="tab1" class="tab-pane active">
        <div  class="products-slick" data-nav="#slick-nav-1">
          <!-- product -->
          <div class="product ">
            <div class="product-img" [routerLink]="['/product',{id:product.id}]">
              <img src="/clientapp/assets/images/{{product.photo}}" alt="" >
              <div class="product-label">
                <span class="sale">-30%</span>
                <span class="new">NEW</span>
              </div>
            </div>
            <div class="product-body">
              <p class="product-category">Category:{{product.category}}</p>
              <h3 class="product-name"><a [routerLink]="['/product',{id:product.id}]">{{product.name}}</a></h3>
              <h4 class="product-price">{{product.price}}$ <del class="product-old-price">{{productService.round(product.price*100/70)}}$</del></h4>

              <span class="product-rating" *ngFor="let i of [].constructor(productService.round(productService.averageRating(product)))">
                  <i class="fa fa-star"></i>
              </span>

              <div class="product-btns">
                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
              </div>
            </div>
            <div class="add-to-cart">
              <button (click)="itemService.add(product.id)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
          </div>
          <!-- /product -->
        </div>
        <div id="slick-nav-1" class="products-slick-nav"></div>
      </div>
      <!-- /tab -->
    </div>
  </div>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>

<!-- Products tab & slick -->







<!-- <h3>Product List</h3>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Photo</th>
    <th>Buy</th>
  </tr>

  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>
        <img src="../../assets/img/{{product.photo}}">
    </td>
    <td>
        
        <button (click)="itemService.add(product.id)">Buy Now</button>
    </td>
  </tr>

</table> -->
