

<div class="container">

<div class="row">

    <ol class="col-12 breadcrumb">

      <li class="breadcrumb-item"><a [routerLink]="['/index']">Home</a></li>

      <li class="breadcrumb-item active">About Us</li>

    </ol>

    <div class="col-12">

       <h3>About Us</h3>

       <hr>

    </div>

</div>



<div class="row row-content">

    <div class="col-sm-6 col-md-6">

        <h2>Our History</h2>
         <h3>
        <p>Started in 2014, ElectroShop quickly established itself as a online marketing icon per excellence. With its unique access to the world top electronical devices retailers and top quality of service.</p>

        <p>ElectroShop traces its humble beginnings to <em>MediaBoom</em>, a successful chain started by our CEO, Mr. Peter O'Really,that featured fast shipments worldwide.</p>
    </h3>
    </div>

    <div class="col-sm">

       <div class="card">

           <h3 class="card-header bg-primary text-white">Facts At a Glance</h3>

           <div class="card-body">

             <dl class="row">

                <dt class="col-6">Started</dt>

                <dt class="col-6">7 Feb.2014</dt>

                <dt class="col-6">Major Stake Holder</dt>

                <dd class="col-6">ElectroZone Inc.</dd>

                <dt class="col-6">Last Year's Turnover</dt>

                <dd class="col-6">$1,350,375</dd>

                <dt class="col-6">Employees</dt>

                <dd class="col-6">250</dd>    

             </dl>  

           </div>

       </div>

    </div>

</div>





</div>