<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Your Cart</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Product</th>
									<th class="quy-th">Quantity</th>
                  <th class="total-th">Price</th>
                  <th class="total-th"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of itemService.items">
									<td class="product-col">
										<img src="./clientapp/assets/images/{{item.product.photo}}" alt="">
										<div class="pc-title">
											<h4>{{item.product.name}}</h4>
											<p>${{item.product.price}}</p>
										</div>
									</td>
                  <td><h4>{{item.quantity}}</h4></td>
								
                  <td class="total-col"><h4>${{item.product.price}}</h4></td>
                  <td align="center">
                      <a class="btn btn-warning" (click)="itemService.remove(item.product.id)">Remove</a>
                  </td>
								</tr>
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>${{itemService.total}}</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Submit</button>
					</form>
					<a href="" class="site-btn">Proceed to checkout</a>
					<a href="" class="site-btn sb-dark">Continue shopping</a>
				</div>
			</div>
		</div>
	</section>

<!-- <table border="1">
  <tr>
    <th>Option</th>
    <th>Id</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sub Total</th>
  </tr>

  <tr *ngFor="let item of itemService.items">
    <td align="center">
      <a (click)="itemService.remove(item.product.id)">Remove</a>
    </td>
    <td>{{item.product.id}}</td>
    <td>{{item.product.name}}</td>
    <td>
        <img src="../../assets/img/{{item.product.photo}}">
    </td>
    <td>{{item.product.price}}</td>
    <td>{{item.quantity}}</td>
    <td>{{item.product.price * item.quantity}}</td>
  </tr>

  <tr>
    <td colspan="6" allign="right">Total</td>
    <td>{{itemService.total}}</td>
  </tr>
  
</table> -->