		<!-- HEADER -->
		<header>
                <!-- TOP HEADER -->
                <div id="top-header">
                    <div class="container ">
                        <ul class="header-links pull-left">
                            <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> romanmayers@yahoo.com</a></li>
                            <li><a href="#"><i class="fa fa-map-marker"></i> Ramat Gan</a></li>
                        </ul>
                        <ul class="header-links  pull-right">
                            <li class="nav-link"><a href="#"><i class="fa fa-dollar"></i>{{ itemService.subtotal() | currency:'USD':true }}</a></li>
                            <li *ngIf="!itemService.loggedIn" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']"><i class="fa fa-sign-in"></i>Login</a></li>
                            <li *ngIf="itemService.loggedIn"><button (click)="logOut()">Logout</button>
                            <li *ngIf="itemService.loggedIn" class="nav-link"><a href="#"><i class="fa fa-user-o"></i> Logged as {{itemService.username}}</a></li>
                            <li class="nav-link"><a [routerLink]="['/index']"><i class="fa fa-home"></i>Home</a></li>
                            <li class="nav-link"><a [routerLink]="['/orders']"><i class="fa fa-list"></i>Orders</a></li>
                            <li class="nav-link"><a [routerLink]="['/about']"><i class="fa fa-info"></i>About</a></li>
                            <li class="nav-link"><a [routerLink]="['/contact']"><i class="fa fa-address-book"></i>Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /TOP HEADER -->
    
                <!-- MAIN HEADER -->
                <div id="header">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- LOGO -->
                            <div class="col-md-3">
                                <div class="header-logo">
                                    <a [routerLink]="['/index']" class="logo">
                                        <img src="/clientapp/assets/images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- /LOGO -->
    
                            <!-- SEARCH BAR -->
                            <div class="col-md-6">
                                <div class="header-search">
                                    <form id="filter">
                                        <select class="input-select" name="category" [(ngModel)]="productService.selectedCategory">
                                            <option value="All Categories">All Categories</option>
                                            <option value="laptop">laptop</option>
                                            <option value="tablet">tablet</option>
                                            <option value="smartphone">smartphone</option>
                                            <option value="camera">camera</option>
                                            <option value="headphones">headphones</option>
                                        </select>
                                        <input class="input" name='search' type="text" [(ngModel)]="productService.term" placeholder="Search here">
                                        <button class="search-btn" [routerLink]="['/']">Search</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /SEARCH BAR -->
    
                            <!-- ACCOUNT -->
                            <div class="col-md-3 clearfix">
                                <div class="header-ctn">
                                    <!-- Wishlist -->
                                    <!-- <div>
                                        <a href="#">
                                            <i class="fa fa-heart-o"></i>
                                            <span>Your Wishlist</span>
                                            <div class="qty">2</div>
                                        </a>
                                    </div> -->
                                    <!-- /Wishlist -->
    
                                    <!-- Cart -->
    
                                    <div class="dropdown show ">
                                            <a class="btn dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                             <i class="fa fa-shopping-cart" style="font-size:3em;color:white;"></i>
                                                <span  style="color:white;">Your Cart</span>
                                                <div class="qty">{{itemService.items.length}}</div>
                                            </a>
                                            <div class="cart-dropdown">
                                                <div  class="cart-list">
                             <div *ngFor="let item of itemService.items"> 
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="/clientapp/assets/images/{{item.product.photo}}" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name"><a href="#">{{item.product.title}}</a></h3>
                                                            <h4 class="product-price"><span class="qty">{{ item.quantity}}x</span>${{item.product.price * item.quantity}}</h4>
                                                        </div>
                                <button class="dropdown-item"  (click)="itemService.remove(item.product.id)" class="delete"><i class="fa fa-close"></i></button>
                              </div>
                              </div>
                              
                                                </div>
                                                <div class="cart-summary">
                                                    <small> Item(s) selected</small>
                                                    <h5>SUBTOTAL: {{itemService.total}}</h5>
                                                </div>
                                                <div class="cart-btns">
                                                    <a class="dropdown-item" [routerLink]="['/cart']">View Cart</a>
                                                    <a class="dropdown-item" [routerLink]="['/checkout']">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- /Cart -->
    
                                    <!-- Menu Toogle -->
                                    <!-- <div class="menu-toggle">
                                        <a href="#">
                                            <i class="fa fa-bars"></i>
                                            <span>Menu</span>
                                        </a>
                                    </div> -->
                                    <!-- /Menu Toogle -->
                                </div>
                            </div>
                            <!-- /ACCOUNT -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
                <!-- /MAIN HEADER -->
            <!-- /HEADER -->
                