<!-- SECTION -->
<div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5 col-md-push-2">
                    <div id="product-main-img">
                        <!-- <div class="product-preview">
                            <img src="./images/product01.png" alt="">
                        </div>

                        <div class="product-preview">
                            <img src="./images/product03.png" alt="">
                        </div> -->

                        <div class="product-preview">
                            <img src="/clientapp/assets/images/{{selected_product.photo}}" alt="">
                        </div>

                        <!-- <div class="product-preview">
                            <img src="./images/product08.png" alt="">
                        </div> -->
                    </div>
                </div>
                <!-- /Product main img -->

                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <!--<div id="product-imgs">
                        <div class="product-preview">
                            <img src="./assets/images/{{selected_product.photo}}" alt="">
                        </div>

                        <div class="product-preview">
                                <img src="./assets/images/{{selected_product.photo}}" alt="">
                        </div>

                        <div class="product-preview">
                                <img src="./assets/images/{{selected_product.photo}}" alt="">
                        </div>
                    </div>-->
                </div>
                <!-- /Product thumb imgs -->

                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">{{selected_product.title}}</h2>
                        <div>

                            <div class="product-rating" *ngFor="let i of [].constructor(productService.round(productService.averageRating(selected_product)))">
                               <i class="fa fa-star"></i>
                            </div>
                            <a class="review-link" target="_self" href="product;id={{id}}#tab1">{{selected_product.reviews.length}} Review(s) | Add your review</a>
                        </div>
                        <div>
                            <h3 class="product-price">{{selected_product.price}} <del class="product-old-price">{{productService.round(selected_product.price*100/70)}}$</del></h3>
                            <span class="product-available">In Stock</span>
                        </div>
                        <p>{{selected_product.description}}</p>

                        <!-- <div class="product-options">
                            <label>
                                Size
                                <select class="input-select">
                                    <option value="0">X</option>
                                </select>
                            </label>
                            <label>
                                Color
                                <select class="input-select">
                                    <option value="0">Red</option>
                                </select>
                            </label>
                        </div> -->

                        <div class="add-to-cart">
                            <div class="qty-label">
                                Qty
                                <div class="input-number">
                                    <input type="number" [(ngModel)]="prodQuantity">
                                    <span (click)="IncProdQuantity()" class="qty-up">+</span>
                                    <span (click)="DecProdQuantity()"class="qty-down">-</span>
                                </div>
                            </div>
                            <button (click)="itemService.add(selected_product.id,prodQuantity)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        </div>

                        <ul class="product-btns">
                            <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                            <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                        </ul>

                        <ul class="product-links">
                            <li>Category:</li>
                            <li><a href="#">{{selected_product.category}}</a></li>
                            <!-- <li><a href="#">Accessories</a></li> -->
                        </ul>

                        <ul class="product-links">
                            <li>Share:</li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>

                    </div>
                </div>
                <!-- /Product details -->

                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                            <li><a data-toggle="tab" href="#tab2">Details</a></li>
                            <li><a data-toggle="tab" href="#tab3">Reviews ({{selected_product.reviews.length}})</a></li>
                        </ul>
                        <!-- /product tab nav -->
                    </div>
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane  active">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>{{selected_product.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->

                            <!-- tab2  -->
                            <div id="tab2" class="tab-pane ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Lorem ipsum dolor sit amet,.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab2  -->

                            
<!-- tab3  -->
<div id="tab3" class="tab-pane">
        <div class="row">
            <!-- Rating -->
            <div class="col-md-3">
                <div id="rating">
                    <div class="rating-avg">
                        <span>{{productService.round(productService.averageRating(selected_product))}}</span>
                        <div class="rating-stars" *ngFor="let i of [].constructor(productService.round(productService.averageRating(selected_product)))">
                            <i class="fa fa-star"></i>

                        </div>
                    </div>
                    <ul class="rating" *ngFor="let review of selected_product.reviews">
                        <li>
                                <div class="rating-stars" *ngFor="let i of [].constructor(review.rating)">
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="rating-progress">
                                <div [style.width.%]="review.rating*20"></div>                             
                            </div>
                            <span class="sum">{{review.rating}}</span>
                        </li>
                       
                    </ul>
                </div>
            </div>
            <!-- /Rating -->

            <!-- Reviews -->
            <div class="col-md-6" >
                <div id="reviews">
                    <ul class="reviews" *ngFor="let review of selected_product.reviews">
                        <li>
                            <div class="review-heading">
                                <h5 class="name">{{review.reviewerName}}</h5>
                                <p class="date">{{review.date}}</p>
                                
                                <span class="rating-stars" *ngFor="let i of [].constructor(review.rating)">
                                    <i class="fa fa-star"></i>
                                </span>

                            </div>
                            <div class="review-body">
                                <p>{{review.content}}</p>
                            </div>
                        </li>
                        
                    </ul>

                                <!-- <div class="rating-stars" *ngFor="let review of selected_product.reviews.rating">
                                    <i class="fa fa-star-o empty"></i>
                                </div> -->

                    <!-- <ul class="reviews-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <!-- /Reviews -->

            <!-- Review Form -->
            <div class="col-md-3">
                <div id="review-form">
                    <form class="review-form"  [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Your Name" formControlName="reviewer_name" required>
                            <div *ngIf="f.reviewer_name.errors" class="text-danger">
                                <div *ngIf="f.reviewer_name.errors.required">Reviewer is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Your Email" formControlName="email" required>
                            <div *ngIf="f.email.errors" class="text-danger">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Your Review" formControlName="content" required></textarea>
                            <div *ngIf="f.content.errors" class="text-danger">
                                <div *ngIf=" f.content.errors.required">Some Content is required for Review</div>
                                <div *ngIf="f.content.errors.minlength">Min Length must be 5 characters</div>
                            </div>
                        </div>

                            <div class="form-group input-rating">
                                <span>Your Rating: </span>
                                <div class="stars">
                                    <input id="star5" name="rating" value="5" type="radio" formControlName="rating"><label for="star5"></label>
                                    <input id="star4" name="rating" value="4" type="radio" formControlName="rating"><label for="star4"></label>
                                    <input id="star3" name="rating" value="3" type="radio" formControlName="rating"><label for="star3"></label>
                                    <input id="star2" name="rating" value="2" type="radio" formControlName="rating"><label for="star2"></label>
                                    <input id="star1" name="rating" value="1" type="radio" formControlName="rating"><label for="star1"></label>
                                    <div *ngIf="f.rating.errors" class="text-danger">
                                        <div *ngIf="f.rating.errors.required">Please Rate!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="primary-btn" >Submit</button>
                            </div>
</form>
                </div>
            </div>
            <!-- /Review Form -->
        </div>
    </div>
    <!-- /tab3  -->
                       </div>
                   
                 </div>

<h2>Products you might be interested</h2>

<div class="col-md-2 col-sm-3" *ngFor="let product of productService.search_results"  >
        <!-- tab -->
        <div  id="tab1_" class="tab-pane active">
          <div  class="products-slick" data-nav="#slick-nav-1">
            <!-- product -->
            <div class="product ">
              <div class="product-img" [routerLink]="['/product',{id:product.id}]">
                <img src="/clientapp/assets/images/{{product.photo}}" alt="" >
                <div class="product-label">
                  <span class="sale">-30%</span>
                  <span class="new">NEW</span>
                </div>
              </div>
              <div class="product-body">
                <p class="product-category">Category:{{product.category}}</p>
                <h3 class="product-name"><a [routerLink]="['/product',{id:product.id}]">{{product.title}}</a></h3>
                <h4 class="product-price">{{product.price}}$ <del class="product-old-price">{{productService.round(product.price*100/70)}}$</del></h4>
  
                <span class="product-rating" *ngFor="let i of [].constructor(productService.round(productService.averageRating(product)))">
                    <i class="fa fa-star"></i>
                </span>
  
                <div class="product-btns">
                  <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                  <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                  <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                </div>
              </div>
              <div class="add-to-cart">
                <button (click)="itemService.add(product.id)" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
              </div>
            </div>
            <!-- /product -->
          </div>
          <div id="slick-nav-1_" class="products-slick-nav"></div>
        </div>
        <!-- /tab -->
      </div>



</div>
</div>
</div>